body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'poppins';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.slide-container {
  width: 100%;
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto;
}

.each-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px; /* Adjust the height as needed */
}

.each-slide div {
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.each-slide span {
  padding: 20px;
  background: #efefef;
  color: #000000;
}
